Package: com.shalamand3r.datelyrics
Name: DateLyrics
Version: 1.0
Architecture: iphoneos-arm
Description: Show current Apple Music lyrics in the lock screen date area.
Maintainer: 82flex/shalamand3r
Author: 82flex/shalamand3r
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
